ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin-bottom: 20px;
  background-color: #274e9b;
  display: grid;
  grid-template-areas: "user" "post";
  gap: 5px;
  width: 100%;
  max-width: 600px;

  border-radius: 15px;
}

.card-child {
  background-color: #dfdfdf;
  padding: 20px;
  /* border-radius: 5px; */
}

.card-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px 5px 0 0;
}

.card-message {
  border-radius: 0 0 5px 5px;
}
